[Desktop Entry]
Type=Application
Name=Process Tab Manager
GenericName=Window Tab Bar
Comment=Vertical sidebar for managing application windows
Exec=%INSTALL_DIR%/ptm
Icon=ptm
Terminal=false
Categories=Utility;
Keywords=window;tab;manager;sidebar;tabs;x11;workspace;windows;ptm;
StartupWMClass=ptm
StartupNotify=false
